{% extends 'base.html' %}
{% load static %}

{% block title %}
About us
{% endblock %}

{% block main %}
<div class="row bg-black">
    <div class="col-sm-12">
        <h1 style="margin-top: 120px;" class="text-center"><strong style="color: #ff6900; font-size: 70px;" data-aos="zoom-in-up">About
                SmartBuildHub</strong></h1>
        <p class="text-center py-3" style="font-size:10px ; color: yellow;"><b><i class="fa-solid fa-star fs-1" data-aos="zoom-out-right"></i> <i
                    class="fa-solid fa-star fs-1" data-aos="zoom-out-right"></i> <i class="fa-solid fa-star fs-1" data-aos="zoom-out-right"></i> <i
                    class="fa-solid fa-star fs-1"data-aos="zoom-out-right"></i><i class="fa-solid fa-star fs-1" data-aos="zoom-out-right"></i> </b></p>
        <p style="font-size: 20px; margin-bottom: 100px;" class="text-light text-center" data-aos="fade-right">Revolutionizing the
            construction industry with innovative smart building solutions and <br> sustainable practices.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <h6 style="color: #ff6900; margin-top: 100px;" class="text-center">WHO WE ARE</h6>
        <h3 class="text-center mt-3 "><strong> OUR MISSION</strong></h3>

        <p class="text-center text-reset py-4" style="font-size: large;">At SmartBuildHub, we're committed to
            transforming the future of construction through cutting- <br>edge technology,
            sustainable practices, and unparalleled expertise. We believe in creating <br>buildings that are not just
            structures, but intelligent ecosystems that enhance lives.</p>
        <div class="row">
            <div class="col-sm-2 rounded-3 ms-4 " style="background-color: #fdd1b2; height: 
            150px;">
                <p class="">
                <h2 style="color: #ff6900; " class="text-center
                "><strong>250+</strong></h2>
                <h5 class="text-center ">Project Completed</h5>
                </p>
            </div>

            <div class="col-sm-3 rounded-3 ms-3" style="background-color: #fdd1b2; height: 
            150px;">
                <p class="">
                <h2 style="color: #ff6900; " class="text-center
                "><strong>30+</strong></h2>
                <h5 class="text-center ">Years Experience</h5>
                </p>
            </div>

            <div class="col-sm-3 rounded-3 ms-3" style="background-color: #fdd1b2; height: 
            150px;">
                <p class="">
                <h2 style="color: #ff6900; " class="text-center
                "><strong>98%</strong></h2>
                <h5 class="text-center ">Client Setisfaction</h5>
                </p>
            </div>


            <div class="col-sm-2 rounded-3 ms-3" style="background-color: #fdd1b2; height: 
            150px;">
                <p class="">
                <h2 style="color: #ff6900; " class="text-center
                "><strong>42</strong></h2>
                <h5 class="text-center "> Industry Award</h5>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 100px; background-color: antiquewhite;">
    <div class="col-sm-10 mx-auto" style="margin-top: 70px;">
        <div class="row">
            <div class="col-sm-5">
                <h6 style="color: #ff6900;" class="ms-1">UOR JOURNEY</h6>
                <h3><strong>OUR STORY</strong></h3>

                <hr>
                <p class="text-reset">Founded in 2010, SmartBuildHub began with a simple vision: to integrate smart
                    technology into every aspect of construction and building management. What started as a small team
                    of
                    innovators has grown into an industry-leading company.</p>
                <p class="text-reset">Over the years, we've pioneered numerous building technologies that have
                    revolutionized how structures are designed, built, and maintained. Our commitment to sustainability
                    and
                    innovation has earned us recognition as one of the most forward-thinking companies in the
                    construction
                    sector.</p>
            </div>
            <div class="col-sm-5 rounded-4" style="background-color: 
        white; margin-left: 
        70px; margin-bottom: 100px;" data-aos="zoom-out-down">
                <img src="{% static 'img/smartBuildHubOffice.jpg' %}" alt="" style="width: 95%; height: 90%;" class="
            rounded-4 mt-3 ms-3">
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 mx-auto" style="margin-top: 70px;">
        <h6 class="text-center" style="color: #ff6900;"><strong>WHAT DRIVES US</strong></h6>
        <h2 class="text-center mt-2"><strong>Our Core Values</strong></h2>
        <p class="text-center" style="
        color: #ff6900;"><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                fill="#ff6900">
                <path d="M120-240v-60h240v60H120Zm0-210v-60h480v60H120Zm0-210v-60h720v60H120Z" />
            </svg></p>
        <div class="row" style="margin-bottom: 100px;">

            <div class="col-sm-2 rounded-4 py-4 " style="background-color: bisque; margin-left: 150px; ">

                <p><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                        fill="#ff6900">
                        <path
                            d="M480-730v-79.58q0-33.42 23.5-56.92t56.92-23.5H640v79.58q0 33.42-23.5 56.92T559.58-730H480ZM200-490q-49.71 0-84.86-35.14Q80-560.29 80-610v-120h120q49.71 0 84.86 35.14Q320-659.71 320-610v120H200ZM640-90q-42 0-79.63-13.6Q522.74-117.2 492-141l-31 31q-9 9-20.5 9t-20.5-9q-9-9-9-20.5t9-20.5l31-31q-23.8-30.88-37.4-68.68Q400-288.47 400-330q0-100 70-170.5T640-571h241v241q0 100-70.5 170T640-90Zm0-60q75.43 0 127.21-53.17Q819-256.34 819-331v-179H641q-74.66 0-127.83 52.31T460-330q0 29.47 9 55.73Q478-248 494-225l126-126q9-9 20.5-9t20.5 9q9 9 9 20.5t-9 20.5L535-184q23 16 49.27 25 26.26 9 55.73 9Zm0-180Z" />
                    </svg></p>
                <h5><strong>Sustainability</strong></h5>
                <p class="mt-2 text-reset">We prioritize eco-friendly materials and energy-efficient designs in every
                    project we undertake.</p>
            </div>
            <div class="col-sm-2  ms-4 rounded-4" style="background-color: bisque;">

                <p><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ff6900"><path d="M490.74-349Q557-349 603-391.08T649-493q0-52-33.58-89T534-619q-42 0-72 27.5t-30 66.61q0 16.89 6.5 32.89t19.5 30l44-42q-5-3.5-7.5-8.75T492-524q0-14 11-24t31-10q23 0 39.5 18.5T590-492q0 35.19-28 59.59Q534-408 492-408q-51.2 0-86.6-40.5Q370-489 370-548.58 370-580 381.5-608t33.5-50l-43-43q-30 29-46.5 68.28-16.5 39.29-16.5 82.4 0 84.32 53.01 142.82T490.74-349ZM240-80v-172q-57-52-88.5-121.5T120-520q0-150 105-255t255-105q125 0 221.5 73.5T827-615l55 218q4 14-5 25.5T853-360h-93v140q0 24.75-17.62 42.37Q724.75-160 700-160H600v80h-60v-140h160v-200h114l-45-180q-24-97-105-158.5T480-820q-125 0-212.5 86.5T180-522.46q0 64.42 26.32 122.39Q232.65-342.09 281-297l19 18v199h-60Zm257-370Z"/></svg></p>
                <h5><strong>Innovation</strong></h5>
                <p class="mt-2 text-reset">We constantly push boundaries with cutting-edge technology and forward-thinking solutions.
                    </p>


            </div>
            <div class="col-sm-2 ms-4  rounded-4" style="background-color: bisque;">

<p><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ff6900"><path d="M480-629 354-755l126-126 126 126-126 126ZM40-160v-160q0-29 20.5-49.5T110-390h141q17 0 32.5 8.5T310-358q29 42 74 65t96 23q51 0 96-23t75-65q11-15 26-23.5t32-8.5h141q29 0 49.5 20.5T920-320v160H660v-119q-36 33-82.5 51T480-210q-51 0-97-18t-83-51v119H40Zm120-300q-45 0-77.5-32.5T50-570q0-46 32.5-78t77.5-32q46 0 78 32t32 78q0 45-32 77.5T160-460Zm640 0q-45 0-77.5-32.5T690-570q0-46 32.5-78t77.5-32q46 0 78 32t32 78q0 45-32 77.5T800-460Z"/></svg></p>
                <h5><strong>Collabration</strong></h5>
                <p class="mt-2 text-reset">We foster strong relationships with clients, partners, and communities to create lasting impact.
                    </p>

            </div>
            <div class="col-sm-2 ms-4 rounded-4" style="background-color: bisque;">

<p><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ff6900"><path d="M480-480Zm289.88-180Q724-660 692-692.12q-32-32.12-32-78T692.12-848q32.12-32 78-32T848-847.88q32 32.12 32 78T847.88-692q-32.12 32-78 32ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q32 0 62.52 5 30.52 5 60.48 15-7.86 12.53-12.86 26.89-5 14.37-7.14 29.11-25.12-8-50.87-12-25.75-4-52.13-4-142.37 0-241.19 98.81Q140-622.38 140-480q0 142.37 98.81 241.19Q337.63-140 480-140q142.38 0 241.19-98.81Q820-337.63 820-480q0-26.38-4-52.13-4-25.75-12-50.87 14.74-2.14 29.11-7.14 14.36-5 26.89-12.86 10 29.96 15 60.48 5 30.52 5 62.52 0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-59-218 290-290q-17-5-31-13t-28-19L421-389 301-509l-45 45 165 166Z"/></svg></p>
                <h5><strong>Excellence</strong></h5>
                <p class="mt-2 text-reset">We maintain the highest standards in every aspect of our work and never compromise on quality.
                    </p>

            </div>

        </div>
    </div>
</div>
{% endblock %}