{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block main %}

<div class="row " style="background-image: url('{% static 'img/contact bg1.jpg' %}'); background-repeat:no-repeat; background-size:cover;">
    <div class="col-sm-10 mx-auto" style="margin-top: 100px; margin-bottom: 100px;">

        <div class="row">
            <div class="col-sm-6" style="background-color: transparent; border-radius: 50px 0px 0px 50px;">

                
                <h3><strong></strong></h3>
                <p class="mt-3"></p>
                <div class="row" style="display: flex;">
                    
                   
                           
                    <div class="col-sm-8">
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6  "
                style="  border-radius: 0px 50px 50px 0px; background-color: transparent;">
                {% if messages %}
                {% for m in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{m}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                <form method="post" action="" style=" margin-top: 30px; margin-right: 30px;" class="ms-3" >
                    {% csrf_token %}
                    <br>Name 
                    <input type="name" name="name" placeholder="Name" class="rounded-2 form-control" required
                        ><br>
                    Contact Number
                    <input type="number" name="contactno" placeholder="contact number" class="rounded-2 form-control"
                        required><br>
                    Email 
                    <input type="text" name="email" placeholder="Email" class="rounded-2 form-control"
                        required><br>
                    Subject 
                    <input type="text" name="subject" placeholder="Subject" class="rounded-2 form-control"
                        required><br>
                    
                    Address 
                    <textarea  name="message" placeholder="message" id="" class="form-control" required></textarea> <br>
                    <button type="submit"
                        style=" height: 40px; margin-bottom: 40px; background-color: #ff6900; border: 0px;"
                        class="rounded-2 form-control">Submit</button>
                </form>


            </div>
        </div>

    </div>
</div>


{% endblock %}