{% extends 'base.html' %}
{% load static %}

{% block title %}
Service
{% endblock %}




{% block main %}

<div class="row" style="background-color: beige;">

    <p class="mx-auto text-center py-2 rounded-5"
        style="color: #ff6900; background-color: antiquewhite; margin-top: 100px; width: 400px; height: 40px;">
        <b>PROFESSIONAL CONSTRUCTION SERVICES </b>
    </p>
</div>
<div class="row" style="background-color: beige;">
    <h1 class="text-center" style="font-size: 70px;"> <strong>Building <span
                style="color: #ff6900;">Excellence</span>,<br>
            Crafting <span style="color: #ff6900;"> Dreams</span> </strong></h1>
    <p class="text-center text-reset mt-3" style="font-size: 20px;">We offer comprehensive construction solutions
        tailored to your unique <br> needs, delivered with exceptional craftsmanship and attention to every <br>detail.
    </p>
    <p class="text-center mt-5" style="margin-bottom: 100px;"><button class=" btn"
            style="background-color: #ff6900; height: 50px; width: 200px; "> Eplore Services</button>
        <button class=" btn ms-3"
            style="background-color: transparent; height: 50px; border: #ff6900 1px solid; width: 200px;"> Request a
            quote</button>
    </p>
</div>

<div class="row" style="background-color: black;">
    <div class="col-sm-10 mx-auto">
        <p style=" color: #ff6900; margin-top: 100px; " class="text-center"><b>━━━ OUR SERVICES ━━━</b></p>
        <h1 class="text-light text-center"><strong>Comprehensive Construction Solutions</strong></h1>
        <p style="color: grey; font-size: large;" class="text-center mt-3">We offer a wide range of construction
            services
            tailored to meet the unique needs of each project, delivered with exceptional <br>craftsmanship and
            attention to
            detail.</p>



    </div>


    <div class="row mx-auto" style="margin-top: 50px;">
        <div class="col-sm-10 mx-auto">
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="card">
                        <h1 style="background-color: #ff6900; height: 70px;width: 70px;" class="rounded-3 mt-5 ms-5">
                            <strong style="height: 50px;" class="ms-1 mt-2">🏠</strong>
                        </h1>
                        <h5 class=" ms-5 mt-2"><strong>Residential Construction</strong></h5>
                        <p class="ms-5 text-reset mt-3 ms-5">From custom homes to multi-family units, we build
                            comfortable,
                            energy-efficient residential spaces designed for modern living.</p>
                        <p> <b style="color: #ff6900;" class="ms-5">✓</b> Custom Home Building <br>
                            <b style="color: #ff6900;" class="ms-5">✓</b> Multi-Family Housing <br>
                            <b style="color: #ff6900;" class="ms-5">✓</b> Energy-Efficient Design
                        </p>
                        <br>
                        <br>
                        <a href="" style="color: #ff6900; text-decoration: none; font-size: large;"
                            class="ms-5 mb-5"><b>Learn more....</b></a>
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="card">
                        <h1 style="background-color: #ff6900; height: 70px;width: 70px;" class="rounded-3 mt-5 ms-5">
                            <strong style="height: 50px;" class="ms-1 mt-2">🧱 </strong>
                        </h1>
                        <h5 class=" ms-5 mt-2"><strong>Material Supply Service</strong></h5>
                        <p class="ms-5 text-reset mt-3 ms-5 " style="margin-bottom: 30px;">Smart Build Hub offers
                            fast
                            and reliable delivery of
                            quality construction materials like cement, bricks, sand, steel, tiles, and paint —
                            right to
                            your site. With trusted brands, competitive prices, and easy online ordering, we ensure
                            your
                            building never stops. Build smart, build hassle-free!</p>


                        <br>
                        <a href="" style="color: #ff6900; text-decoration: none; font-size: large;"
                            class="ms-5 mb-5"><b>Learn more....</b></a>
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="card">
                        <h1 style="background-color: #ff6900; height: 70px;width: 70px;" class="rounded-3 mt-5 ms-5">
                            <strong style="height: 50px;" class="ms-1 mt-5">📞</strong>
                        </h1>
                        <h5 class=" ms-5 mt-2"><strong>Customer Support & Consultation</strong></h5>
                        <p class="ms-3 text-reset mt-3 ms-5" style="margin-bottom:30px;">Smart Build Hub provides
                            dedicated customer support and
                            expert consultation to guide you at every step of your construction journey. From
                            choosing
                            the right materials to solving on-site issues, our team is just a call or click away —
                            24/7,
                            in your language, with full transparency.</p>

                        <br>
                        <br>
                        <a href="" style="color: #ff6900; text-decoration: none; font-size: large;"
                            class="ms-5 mb-5"><b>Learn more....</b></a>
                    </div>
                </div>



                <div class="row mt-5 ms-1">
                    <div class="col-sm-4 " style="margin-bottom: 100px;">
                        <div class="card" style="height: 450px;">
                            <h1 style="background-color: #ff6900; height: 70px;width: 70px;"
                                class="rounded-3 mt-5 ms-5">
                                <strong style="height: 50px;" class="ms-1 mt-2">💰</strong>
                            </h1>
                            <h5 class=" ms-5 mt-2"><strong>Cost Estimation & Budget Planning</strong></h5>
                            <p class="ms-5 text-reset mt-3 ms-5">Smart Build Hub helps you plan your construction
                                budget
                                with accurate cost estimation tools. Get transparent quotes, compare material
                                prices,
                                and avoid hidden expenses — so you can build with confidence and stay within budget.
                            </p>

                            <br>
                            <br>
                            <a href="" style="color: #ff6900; text-decoration: none; font-size: large;"
                                class="ms-5 mb-5"><b>Learn more....</b></a>
                        </div>
                    </div>

                    <div class="col-sm-4 " style="margin-bottom: 100px;">
                        <div class="card" style="height: 450px;">
                            <h1 style="background-color: #ff6900; height: 70px;width: 70px;"
                                class="rounded-3 mt-5 ms-5">
                                <strong style="height: 50px;" class="ms-1 mt-2">🛠️</strong>
                            </h1>
                            <h5 class=" ms-5 mt-2"><strong>Smart Tools & Equipment Rental</strong></h5>
                            <p class="ms-5 text-reset mt-3 ms-5 " style="margin-bottom: 30px;">Smart Build Hub
                                offers
                                easy rental of modern construction tools and machinery like mixers, vibrators,
                                scaffolding, and JCBs. Get well-maintained equipment on demand, at affordable rates,
                                delivered right to your site — saving you time, cost, and effort.
                            </p>


                            <br>
                            <a href="" style="color: #ff6900; text-decoration: none; font-size: large;"
                                class="ms-5 mb-5"><b>Learn more....</b></a>
                        </div>
                    </div>

                    <div class="col-sm-4 " style="margin-bottom: 100px;">
                        <div class="card" style="height: 450px;">
                            <h1 style="background-color: #ff6900; height: 70px;width: 70px;"
                                class="rounded-3 mt-5 ms-5">
                                <strong style="height: 50px;" class="ms-1 mt-5">👷</strong>
                            </h1>
                            <h5 class=" ms-5 mt-2"><strong>Verified Contractor & Labor Hiring</strong></h5>
                            <p class="ms-3 text-reset mt-3 ms-5" style="margin-bottom:30px;">Smart Build Hub
                                connects
                                you with trusted and verified contractors, masons, electricians, plumbers, and other
                                skilled labor. Hire professionals with ease, view ratings, and ensure quality work
                                on
                                time — all through one reliable platform.</p>

                            <br>
                            <br>
                            <a href="" style="color: #ff6900; text-decoration: none; font-size: large;"
                                class="ms-5 mb-5"><b>Learn more....</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-10 mx-auto" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row">
            <div class="col-sm-5 mt-5">
                <h6 style="color: #ff6900;"><strong> ━━━ FEATURED SERVICE</strong></h6>
                <h2><strong>Sustainable Building Practices</strong></h2>
                <p class="mt-3">We're committed to environmentally responsible construction. Our sustainable building
                    practices
                    incorporate the latest green technologies and materials to minimize environmental impact while
                    maximizing energy efficiency and occupant comfort.</p>

                <p>🏗️ One Platform, Every Construction Need Covered.</p>
                <p>🧱 From Materials to Manpower — We Deliver Trust.</p>
                <p>🛠️ Smart Tools, Smarter Planning, Fast Execution.</p>
                <p>✅ Build with Confidence. Build with Smart Build Hub.</p>
            </div>
            <div class="col-sm-5 rounded-4"
                style="background-color: #ff6900; height: 440px; width: 640px; margin-left: 70px;">
                <img src="{% static 'img/best3.jpg' %}" alt=""
                    style="height: 400px; width: 600px; margin-top: 20px; margin-left: 10px;">
            </div>
        </div>
    </div>
</div>

{% endblock %}